.bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $clr-background;
    display: flex;
    justify-content: space-around;
    padding: auto; 
    font-size: $fs-base;

    .icon {
        margin-right: 1rem;
        font-size: $fs-lg;
    }

    a {
        text-decoration: none;
        color: $clr-secondary;
    }
    
}