.home-page {
  margin: 10%;
  padding: 1rem;
  justify-content: space-around;
  display: flex;
}

.about-me {
  max-width: 70%;
  margin-right: 2rem;
  margin-top: 3rem;

  .name {
    color: $clr-primary; 
    font-weight: bold;
    font-size: $fs-5xl;
  }

  .title {
    color: $clr-primary; 
    font-size: $fs-base;
    margin-bottom: 3rem;
  }

  .about-line {
    font-size: $fs-2xl;
  }

  .brief-intro {
    color: $clr-secondary; 
    font-size: $fs-base;
    margin-bottom: 3rem;
  }

  .resume {
    max-width: 10rem;
  }
}

.profile-pic {
  width: 25rem;
  height: 25rem;
  margin-top: 5rem;
  img {
    width: 100%; 
    border: 5px solid $clr-primary;
    border-radius: 100%;
  }
}