.about-page{
    margin: 5%;
    padding: auto;

    .experience {
        padding: 2rem;
        margin: auto;
        border: 1px solid $clr-background;
        border-radius: 5px;
        width: 50rem;
        text-align: center;
        justify-content: center;

        .text {
            color: $clr-primary;
            font-size: $fs-lg;
        }

        .year {
            font-size: $fs-2xl;
        }
    }

    .text-skill {
        text-align: center;
        font-size: $fs-3xl;
        color: $clr-primary;
        padding: 2rem;
        margin: auto;
    }

    .skills-container {
        padding: 2rem;
        margin: auto; 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3.6rem;
        width: 100%;
    }
}
