.dev-skill {
    border: 1px solid #ddd; /* Adjust border style and color as needed */
    padding: 1rem; /* Adjust padding for spacing */
    border-radius: 0.5rem; /* Add rounded corners */
    display: flex; /* Make elements display inline */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */
    max-width: 15rem;

    .icon {
        font-size: 2.5rem;
    }

    .name {
        font-size: 1.5rem;
    }

    .level {
        font-size: 1rem;
    }
}